@tailwind base;
@tailwind components;
@tailwind utilities;

.homeBg{
    background-image: url('./Assets/Home/Rectangle\ 1.png');
    background-size: cover;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1052FF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}